@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@tailwind utilities;

nav{
  background-color: red;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

a{
  text-decoration: none;
  margin-inline: 0.3rem;
}